html,
body {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr;


}

h1 {
    font-family: 'Oranienbaum', serif;
    font-weight: 500;
    font-size: 1.7rem;

}

nav {

    max-height: 0px;
    overflow: hidden;
    transition: 0.6s;
    background: #fff;
    color: #000;
    width: 100%;

}

nav.show {
    max-height: 30px;
}



.logo {
    width: 96%;
    height: 50px;
    text-align: right;
    position: absolute;
    z-index: 2;
    margin-top: 0.5vw;


}

header {
    height: 60px;
    top: 0;
    background: white;
    width: 100%;
    border-bottom: 1px solid;
    position: fixed;

}

header img {


    height: 100%;
}

.burger {
    cursor: pointer;
    background-color: white;
    border: none;
    justify-self: block;
    width: 50%;
    z-index: 4;
    position: relative;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;



}

li {
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Oranienbaum', serif;
}

a {
    text-decoration: none;
    color: black;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

picture img {

    width: 100%;
}

.splash-container {
    margin-top: 60px;
}


article {
    margin: 6vw;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.92rem;

}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.92rem;
}

/* menu */

h2 {
    font-family: 'Oranienbaum', serif;
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;

}

.menu-item {
    background-color: white;
    border: 1px solid;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;


}

.menu-item:hover {
    opacity: 2;
    background-color: #967763;
    transition: 3s;
}

.top {
    margin-top: 20vw;
    text-align: center;
}

.str img {
    margin-top: 5vw;
    width: 40%;
    border: 3px solid white
}

.str {
    background-color: #967763;
    text-align: center;
    margin: 10vw;

}


/* generelt */

.footer {
    font-family: 'Oranienbaum', serif;
    font-size: 0.9rem;
    margin: 6vw;
    line-height: 1.2;





}

footer {

    background-color: #967763;

}

/* KONTAKT*/

.kontakt {
    margin: 6vw;
    margin-top: 100px;

}

.column {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 6vw;

}

label,
input {
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;

}

input {
    height: 30px;
}

#emne {
    height: 150px;

}

#send {
    height: 30px;
    text-align: left;
    background-color: white;
    border: 1px solid;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
}

#send:hover {
    opacity: 2;
    background-color: #967763;
    transition: 3s;
}

/* modal */

#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    /*display: none;*/
    transition: 1;
    opacity: 0;
    pointer-events: none;

}

#modal-content {
    width: 70vw;
    height: 80vh;
    background-color: rgba(250, 250, 250, 1);
    margin: auto;


}

#modal.vis {
    /* display: block;*/
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;

}

.modal-billede {
    height: 50vw;
    object-fit: scale-down;

}

@media screen and (min-width: 627px) {}


@media screen and (min-width: 768px) {

    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .str {
        margin: 1vw;
        padding: 0;
    }

    #modal-content {
        height: 60vh;
    }

    .top {
        margin-top: 12vw;
    }

    .menu-item {

        width: 100px;
        height: 25px;


    }

    article {
        padding-left: 3%;
        padding-right: 3%;
    }

    .str img {
        margin-top: 3vw;
        width: 70%;
    }

    .str {
        margin: 5vw;

    }


    .burger {
        display: none;

    }
    nav {
        max-height: 600px;

    }
    li {
        display: inline-block;
        margin-top: 1vw;
        cursor: pointer;

    }

         nav {
        height: 50px;
        width: 100%;
        background-color: white;
        margin: 0px;
        text-align: right;

    }
    nav a {
        display: inline-flex;
        margin: 0.8em;

    }

    .logo {
        width: 200px;
        height: 50px;
        text-align: left;
        margin-left: 1.5em;
        display: block;
    }

    header {
        position: fixed;
        top: 0;
        display: flex;
        background: white;
        width: 100%;

    }

    header img {
        display: block;
        width: auto;
        height: 100%;


    }
}

@media screen and (min-width: 1024px) {
    #modal-content {
        height: 80vh;

    }

    .modal-billede {
        height: 50vh;
    }


    article {
        margin: 10vw;
    }

}
